header .title{
  display:flex;
  justify-content: center;
  align-items:center;
}


.menu ul{
  margin-top: 0;
  list-style:none;
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
}
.menu ul li{
  padding:17px;
}