header.hero{
  background-color: $color-header;
  display:flex;
  justify-content:center;
}




section{

  //display:grid;
  //grid-template-columns: 1fr 1fr 1fr;
  //grid-gap:20px 20px;

  display:flex;
  justify-content: space-between;
  width:100%;



}

section article{
  width:33.3333%;
}

article header{
  height:200px;
  display:flex;
  justify-content:center;
  align-items: center;

}

article.html h2{
  background-color:#E34E26;
  padding: 50px;

}